/* define color variables */

:root {
    --light: rgb(225, 231, 250);
    --fade-light: #a0a4b8ff;
    --fade-dark: #654f6fff;
    --contrast: rgb(31, 26, 77);
    --background: rgb(36, 109, 126);
    --background-fade: rgb(20, 183, 219);
}

/* universal modifiers */
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--light);
    transition: all .25s;
}

/* background image and spacing */
html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    background: radial-gradient(var(--background-fade), var(--background)) fixed;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}

/* sticky footer*/
.header, .footer {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--contrast);
}

.main {
    flex-grow: 1;
}


/* header and navbar */

header h1 {
    padding: 25px;
}

nav {
    margin-left: 10px;
}

nav ul li a {
    border-radius: 20px 20px 0 0;
}

.nav-link a, .nav-item a:not(.active){
    color: var(--background-fade)
}

.nav-link:focus, .nav-link:hover {
    color:var(--light)
}

.active {
    background-color: var(--background);
    color: var(--light)
}


/* footer */

.footer-link {
    padding: 5px, 0
}

.footer-icon {
    height: 30px;
    width: 30px;

}



/* portfolio cards */
.card {
    min-height: 250px;
    display:flex;
    align-items: start;
    justify-content:space-evenly;
    border: black 2px solid;
    box-shadow: black 5px 5px 15px 5px;
    position: relative;
    padding: 0;
    border-radius: 0;
}

.card-image {
    position:absolute;
    height:100%;
    width:100%;
    z-index: 0;
}

.card a {
    color:var(--light);
    text-decoration: none;
    z-index: 1;
    padding: 0 10px;
    
}

.project-link:hover {
    background-image: linear-gradient(var(--background), var(--background));
    box-shadow: var(--background) 0 0 10px 8px;
}

.logo {
    width: 80px;
    height: 80px;
    border: var(--background) 0px solid;
    border-radius: 100%;
}

.logo:hover {
    background-image: linear-gradient(var(--background), var(--background));
    box-shadow: var(--background) 0 0 10px 8px;

}


/* form */

.btn {
    color: var(--background-fade);
    border-radius: 10px;
    background-color: var(--fade-dark);
    border: black 2px solid;
    box-shadow: black 2px 2px;
}

.btn:hover, .btn:focus-visible {
    color: var(--contrast);
    background-color: var(--fade-dark);
    border: black 2px solid;
    box-shadow: black 2px 2px;
}

.btn:active, :not(.btn-check)+.btn:active {
    color: var(--contrast);
    border: black 2px solid;
    border-radius: 10px;
    background-color: var(--fade-light);
    box-shadow: black 2px 2px;
}

.form-completion {
    color: rgb(146, 23, 23);
    font-size: 24px;
    font-weight: bolder;
}

.form-control, .form-control:focus {
    border: black 2px solid;
    box-shadow: 2px 2px;
}